# CODEOWNERS for Appeal Data Platform Repository

# Data models & Design documents
/documentation/diagrams/    @klfrazier
/documentation/documents/   @klfrazier

# Default fallback owner for all files not explicitly listed
*       @klfrazier
